In [1]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

**Valores climatológicos**

In [2]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjYXJvbGluYV9tZXJsbzgzQGhvdG1haWwuY29tIiwianRpIjoiYjMxZmEyMjItNzg1MC00YjBmLTkwYzItYTQ5NjE1MWQxZTZhIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1NDg0NzYsInVzZXJJZCI6ImIzMWZhMjIyLTc4NTAtNGIwZi05MGMyLWE0OTYxNTFkMWU2YSIsInJvbGUiOiIifQ.5wM8GyjDKvtBQrcvGCBBWPt81BDlnQFh79JhuFUQ7G0"
url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2024-10-08T00%3A00%3A00UTC/fechafin/2024-10-20T00%3A00%3A00UTC/todasestaciones"
headers ={"api_key":api_key} 
response= requests.get(url, headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/2c618a29',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [3]:
response2 = requests.get(response.json()["datos"])
pd.json_normalize(response2.json()).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        11251 non-null  object
 1   indicativo   11251 non-null  object
 2   nombre       11251 non-null  object
 3   provincia    11251 non-null  object
 4   altitud      11251 non-null  object
 5   tmed         10908 non-null  object
 6   prec         10818 non-null  object
 7   tmin         10908 non-null  object
 8   horatmin     10861 non-null  object
 9   tmax         10911 non-null  object
 10  horatmax     10870 non-null  object
 11  dir          9176 non-null   object
 12  velmedia     9197 non-null   object
 13  racha        9176 non-null   object
 14  horaracha    9175 non-null   object
 15  hrMedia      10907 non-null  object
 16  hrMax        10787 non-null  object
 17  horaHrMax    10787 non-null  object
 18  hrMin        10786 non-null  object
 19  horaHrMin    10786 non-null  object
 20  presMax      2792 non-null   object
 21  horaPresMax  2792 non-null   object
 22  presMin      2791 non-null   object
 23  horaPresMin  2791 non-null   object
 24  sol          1751 non-null   object
dtypes: object(25)
memory usage: 2.1+ MB

In [4]:
response2 = requests.get(response.json()["datos"])
pd.json_normalize(response2.json())

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,presMax,horaPresMax,presMin,horaPresMin,sol
0,2024-10-08,2918Y,EL MAÍLLO,SALAMANCA,1027,"12,8","4,4","10,1",00:52,"15,5",...,83,93,14:20,75,12:40,NaN,NaN,NaN,NaN,NaN
1,2024-10-08,C453I,CITFAGRO_88_GAITERO,STA. CRUZ DE TENERIFE,1744,"15,2","0,0","10,4",08:10,"20,0",...,50,100,Varias,4,Varias,NaN,NaN,NaN,NaN,NaN
2,2024-10-08,8492X,ATZENETA DEL MAESTRAT,CASTELLON,420,"18,2","0,0","11,1",06:21,"25,3",...,55,83,06:20,37,11:00,NaN,NaN,NaN,NaN,NaN
3,2024-10-08,2400E,AUTILLA DEL PINO,PALENCIA,874,"11,9","0,4","8,6",00:40,"15,2",...,87,96,01:30,68,15:40,NaN,NaN,NaN,NaN,NaN
4,2024-10-08,8270X,BICORP,VALENCIA,305,"20,9","0,0","17,1",Varias,"24,7",...,51,71,Varias,40,16:10,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,2024-10-20,C919K,TACORON-LAPILLAS-TORTUGA,STA. CRUZ DE TENERIFE,98,"22,4","0,0","19,6",01:26,"25,1",...,72,86,Varias,49,05:40,NaN,NaN,NaN,NaN,NaN
11247,2024-10-20,0284X,"CASTELL, PLATJA D'ARO",GIRONA,14,"17,7","0,0","11,1",06:05,"24,3",...,73,92,03:00,47,12:10,NaN,NaN,NaN,NaN,NaN
11248,2024-10-20,1679A,MONFORTE DE LEMOS,LUGO,291,"19,0",NaN,"15,0",06:32,"23,1",...,83,98,02:10,61,16:10,NaN,NaN,NaN,NaN,NaN
11249,2024-10-20,1354C,FERROL,A CORUÑA,4,"20,6","4,4","18,6",00:20,"22,6",...,74,84,00:00,65,13:40,"1020,2",21,"1016,4",Varias,NaN
11250,2024-10-20,4121,CIUDAD REAL,CIUDAD REAL,626,"16,4","0,0","10,8",06:30,"22,0",...,74,100,08:00,49,16:30,"952,9",09,"950,4",04,"8,7"

In [5]:
# Fecha inicial y final
fechaIni = datetime(2022, 10, 1, 0, 0, 0)
fechaFin = datetime(2024, 10, 1, 0, 0, 0)

api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjYXJvbGluYV9tZXJsbzgzQGhvdG1haWwuY29tIiwianRpIjoiYjMxZmEyMjItNzg1MC00YjBmLTkwYzItYTQ5NjE1MWQxZTZhIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1NDg0NzYsInVzZXJJZCI6ImIzMWZhMjIyLTc4NTAtNGIwZi05MGMyLWE0OTYxNTFkMWU2YSIsInJvbGUiOiIifQ.5wM8GyjDKvtBQrcvGCBBWPt81BDlnQFh79JhuFUQ7G0"

base_url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones"
headers = {"api_key": api_key}

# Función para obtener los datos de un rango de fechas específico
def get_data_for_dates(fechaIni, fechaFin):
    url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones"
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        data_url = response.json()["datos"]
        response2 = requests.get(data_url)
        return pd.json_normalize(response2.json())
    else:
        (f"Error al obtener datos de {fechaIni} a {fechaFin}")
        return pd.DataFrame()  # Retorna un DataFrame vacío en caso de error

In [ ]:
%%time

# Bucle

df = pd.DataFrame()

while fechaIni <= fechaFin:
    df_shape = df.shape[0]
    fechaIniBucle = fechaIni.strftime("%Y-%m-%dT%H:%M:%SUTC")
    fechaFinBucle = (fechaIni + timedelta(days = 1)).strftime("%Y-%m-%dT%H:%M:%SUTC")

    print(fechaIniBucle, fechaFinBucle, df.shape, df_shape)
    try:
        df_bucle = get_data_for_dates(fechaIniBucle, fechaFinBucle) 
        df = pd.concat([df, df_bucle])
    except:
        pass
        
    if df.shape[0] == df_shape:
        sleep(5)
    else:
        fechaIni = fechaIni + timedelta(days = 1)

    sleep(1)

In [7]:
df.to_csv("valores_climatologicos.csv")